body {
	background-color: #B8860B;
	color: #fff;
	font-family: 'Vollkorn', serif;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Unica One', cursive;
	text-shadow: 2px 2px 2px #333;
	padding: 2px 2px;
}

header h1 {
	border-bottom: 1px dotted #ddd;
	margin: 20px 0 5px 0;
}

h3 {
	cursor: pointer;
	margin: 2px 0;
}

.made-by {
	color: #000;
	font-family: 'Unica One', cursive;
	margin: 5px;
}

.wrapper {
	width: 90%;
	margin: auto;
}
.rules-content {
	display: none;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #000;
	box-shadow: 2px 2px 2px #333;
	cursor: pointer;
}

img.rules-picture {
	float: right;
	padding: 10px 10px 20px 20px;
	width: 25%;
}

span.got-it {
	font-size: 1.4rem;
	font-weight: bold;
	cursor: pointer;
}

.diamonds {
	color: darkred;
}

.hearts {
	color: red;
}

.clubs {
	color: black;
}

.spades {
	color: darkgrey;
}

img.cardimg {
	width: 10%;
	height: auto;
}

ul {
	display: inline-block;
	list-style: none;
}

img.cardimg {
	width: 60px;
	height: auto;
	margin-right: -70px;
}

button {
	background: rgba(15, 15, 15, 0.5);
	border: none;
	padding: 15px;
	border-radius: 4px;
}

img.profile-pictures {
	height: 80px;
	width: auto;
	border-radius: 8px;
}
